.event-title-section {
  position: relative;
  overflow: hidden;
  background-image: url("https://www.agcas.org.uk/write/MediaUploads/General%20Imagery/shutterstock_graduates.jpg");
  background-size: cover;
  background-position: center;
  color: #ffffff;

  display: flex;
  justify-content: center;
  /* Center content horizontally */
  align-items: center;
  /* Center content vertically */
  z-index: -1;
}

.containerr {
  background-color: rgba(47, 26, 97, 0.7);
  width: 100%;
  display: flex;
  justify-content: center;
  /* Center content horizontally */
  align-items: center;
}

.event-title-container {
  text-align: center;
  padding: 50px 0;
  position: relative;
  max-width: 800px;
  /* Adjust the max-width as needed */
  width: 100%;
  /* Take full width */
}

.Hurry {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}

.BigEvent {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 20px;
}

.DateTime {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.DateTime svg {
  font-size: 24px;
  margin-right: 5px;
}

.Data {
  margin-left: 20px;
}